{% extends 'base.html'%} {%load static %} {% block content%}
<!-- navbar -->

<header class="human">
    <div class="navbar-fixed ">
        <nav class="nav-wrapper green">
            <div class="container">
                <a href="{% url 'home'%}" class="brand-logo">Bird Watcher</a>
                <a href="#" class="sidenav-trigger" data-target="mobile-menu">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'home'%}">Home</a></li>
                    <li><a href="{% url 'birdlist'%}">Birds</a></li>
                    <li><a href="#feedback">FeedBack</a></li>
                    <li><a href="#About">About</a></li>

                    <a href="log-in.html" class="waves-effect waves-light #c6ff00 lime accent-3 text-black btn">Login</a>
                    <li>
                        <a href="#" class="tooltipped btn-floating btn-small red accent-3" data-position="bottom" data-tooltip="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tooltipped btn-floating btn-small indigo darken-4" data-position="bottom" data-tooltip="Facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tooltipped btn-floating btn-small  blue lighten-1" data-position="bottom" data-tooltip="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>

                <ul class="sidenav #e0e0e0 grey lighten-2" id="mobile-menu">
                    <li><a href="{% url 'home'%}">Home</a></li>
                    <li><a href="Birds.html">Birds</a></li>
                    <li><a href="#feedback">Feedback</a></li>
                    <li><a href="#About">About</a></li>

                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- photo / grid -->
<section class="container section " id="photo">
    <div class="row">
        <div class="col s12 l4">
            <img src="{% static 'images/camera.png' %}" alt=" " class="responsive-img materialboxed ">
        </div>
        <div class="col s12 l6 offset-l1 ">
            <h2 class="indigo-text text-darken-4 ">Photos</h2>
            <p>lo amogh images quality bagge matadu.</p>
        </div>
    </div>
    <div class="row ">
        <div class="col s12 l4 offset-l1 push-l7 ">
            <img src="{% static 'images/recording.jpg' %}" alt=" " class="responsive-img materialboxed ">
        </div>
        <div class="col s12 l6 offset-l1 pull-l5 right-align ">
            <h2 class="indigo-text text-darken-4 ">Recordings</h2>
            <p>lo illi Audio professional record madtare anta helu.</p>
        </div>
    </div>


</section>
<!-- parallax -->
<div class="parallax-container ">
    <div class="parallax ">
        <img src="{% static 'images/palax.jpg' %}" alt=" " class="responsive-img ">
    </div>
</div>



{% endblock%}